In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("ETL").getOrCreate()
spark.sparkContext.setLogLevel("WARN")

## Load Data

In [5]:
df = spark.read.json('../data/input/training.json')
df.show(truncate=False, n=5)

+-----------+-------+--------------------------------------------------------------------+--------+
|category   |city   |heading                                                             |section |
+-----------+-------+--------------------------------------------------------------------+--------+
|cell-phones|newyork|New batteries C-S2 for Blackberry 7100/7130/8700/Curve/Pearl        |for-sale|
|cell-phones|newyork|*******   Brand New Original SAMSUNG GALAXY NOTE 2 BATTERY ******   |for-sale|
|cell-phones|newyork|SAMSUNG GALAXY SIII T-999 MARBLE WHITE T-MOBILE SMARTPHONE BRAND NEW|for-sale|
|cell-phones|newyork|Ipad mini 64gb 4g any sim unlock                                    |for-sale|
|cell-phones|newyork|htc evo 4g lte for trade                                            |for-sale|
+-----------+-------+--------------------------------------------------------------------+--------+

## Data Exploration

In [6]:
df_uppercase = df.toDF(*(c.upper() for c in df.columns))
df_uppercase.show(truncate=False, n=5)

+-----------+-------+--------------------------------------------------------------------+--------+
|CATEGORY   |CITY   |HEADING                                                             |SECTION |
+-----------+-------+--------------------------------------------------------------------+--------+
|cell-phones|newyork|New batteries C-S2 for Blackberry 7100/7130/8700/Curve/Pearl        |for-sale|
|cell-phones|newyork|*******   Brand New Original SAMSUNG GALAXY NOTE 2 BATTERY ******   |for-sale|
|cell-phones|newyork|SAMSUNG GALAXY SIII T-999 MARBLE WHITE T-MOBILE SMARTPHONE BRAND NEW|for-sale|
|cell-phones|newyork|Ipad mini 64gb 4g any sim unlock                                    |for-sale|
|cell-phones|newyork|htc evo 4g lte for trade                                            |for-sale|
+-----------+-------+--------------------------------------------------------------------+--------+

In [7]:
df_uppercase.write.mode('overwrite').parquet('../data/input/training.parquet')

In [8]:
df_training = spark.read.parquet('../data/input/training.parquet')
df_training.show(truncate=False, n=5)

+-----------+-------+--------------------------------------------------------------------+--------+
|CATEGORY   |CITY   |HEADING                                                             |SECTION |
+-----------+-------+--------------------------------------------------------------------+--------+
|cell-phones|newyork|New batteries C-S2 for Blackberry 7100/7130/8700/Curve/Pearl        |for-sale|
|cell-phones|newyork|*******   Brand New Original SAMSUNG GALAXY NOTE 2 BATTERY ******   |for-sale|
|cell-phones|newyork|SAMSUNG GALAXY SIII T-999 MARBLE WHITE T-MOBILE SMARTPHONE BRAND NEW|for-sale|
|cell-phones|newyork|Ipad mini 64gb 4g any sim unlock                                    |for-sale|
|cell-phones|newyork|htc evo 4g lte for trade                                            |for-sale|
+-----------+-------+--------------------------------------------------------------------+--------+

In [11]:
df_input = spark.read.json('../data/input/input00.txt')
df_input.show(truncate=False, n=5)

+---------+-----------------------------------------------------------+--------+
|city     |heading                                                    |section |
+---------+-----------------------------------------------------------+--------+
|chicago  |Madden NFL 25 XBOX 360. Brand New!                         |for-sale|
|paris.en | looking for room to rent.                                 |housing |
|newyork  |two DS game                                                |for-sale|
|seattle  |map                                                        |housing |
|singapore|Good Looking Asian Sensation N aughty Girl ---- Independent|services|
+---------+-----------------------------------------------------------+--------+

In [12]:
df_input_uppercase = df_input.toDF(*(c.upper() for c in df_input.columns))
df_input_uppercase.show(truncate=False, n=5)

+---------+-----------------------------------------------------------+--------+
|CITY     |HEADING                                                    |SECTION |
+---------+-----------------------------------------------------------+--------+
|chicago  |Madden NFL 25 XBOX 360. Brand New!                         |for-sale|
|paris.en | looking for room to rent.                                 |housing |
|newyork  |two DS game                                                |for-sale|
|seattle  |map                                                        |housing |
|singapore|Good Looking Asian Sensation N aughty Girl ---- Independent|services|
+---------+-----------------------------------------------------------+--------+

In [13]:
df_input_uppercase.write.mode('overwrite').parquet('../data/input/input00.parquet')

In [15]:
df_input_parquet = spark.read.parquet('../data/input/input00.parquet')
df_input_parquet.show(truncate=False, n=5)

+---------+-----------------------------------------------------------+--------+
|CITY     |HEADING                                                    |SECTION |
+---------+-----------------------------------------------------------+--------+
|chicago  |Madden NFL 25 XBOX 360. Brand New!                         |for-sale|
|paris.en | looking for room to rent.                                 |housing |
|newyork  |two DS game                                                |for-sale|
|seattle  |map                                                        |housing |
|singapore|Good Looking Asian Sensation N aughty Girl ---- Independent|services|
+---------+-----------------------------------------------------------+--------+